<configuration>
  <appSettings>
    <add key="Server.PathTemp" value="/home/pacs/{{pac}}/users/{{user}}/{{OP_CUSTOMER}}/tmp/" />
    <add key="ServerAdmin.LogFile" value="/home/pacs/{{pac}}/users/{{user}}/{{OP_CUSTOMER}}/log/AdminConsole.log" />
    <add key="NumberOfLogFilesToKeep" value="6" />
    <add key="OpenPetra.HTTPServer" value="http://localhost:{{httpport}}/api/"/>
    <add key="HTTPUtils.PostRequests" value="1" />
  </appSettings>
</configuration>
