<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server.Url" value="https://{{domain}}"/>
    <add key="Server.EmailDomain" value="openpetra.com"/>
    <add key="AuthTokenForInitialisation" value=""/>
    <add key="LicenseCheck.Url" value=""/>
    <add key="ApplicationDirectory" value="/home/pacs/{{pac}}/users/{{user}}/openpetra/server/bin"/>
    <add key="Server.DebugLevel" value="0" />
    <add key="NumberOfLogFilesToKeep" value="6" />
    <add key="Server.PathData" value="/home/pacs/{{pac}}/users/{{user}}/openpetra/data" />
    <add key="SqlFiles.Path" value="/home/pacs/{{pac}}/users/{{user}}/openpetra/sql" />
    <add key="EMailTemplates.Path" value="/home/pacs/{{pac}}/users/{{user}}/openpetra/emails" />
    <add key="Reporting.PathStandardReports" value="/home/pacs/{{pac}}/users/{{user}}/openpetra/reports" />
    <add key="Formletters.Path" value="/home/pacs/{{pac}}/users/{{user}}/openpetra/formletters"/>
    <add key="UINavigation.File" value="/home/pacs/{{pac}}/users/{{user}}/openpetra/client/etc/UINavigation.yml"/>
    <add key="Forms.Path" value="/home/pacs/{{pac}}/users/{{user}}/openpetra/client/src/forms"/>

    <add key="Server.PathTemp" value="/home/pacs/{{pac}}/users/{{user}}/{{OP_CUSTOMER}}/tmp" />
    <add key="Server.LogFile" value = "/home/pacs/{{pac}}/users/{{user}}/{{OP_CUSTOMER}}/log/Server.log"/>

    <add key="WebRequestTimeOutInMinutes" value="15"/>

    <add key="Server.Port" value = "{{httpport}}" />
    <add key="Server.RDBMSType" value="mysql" />
    <add key="Server.DBHostOrFile" value = "localhost" />
    <add key="Server.DBPort" value = "3306" />
    <add key="Server.DBName" value = "{{pac}}_{{user}}"/>
    <add key="Server.DBUserName" value = "{{pac}}_{{user}}"/>
    <add key="Server.DBPassword" value="{{password}}" />
    <add key="Server.DBWaitingTimeForCoordinatedDBAccess" value = "3000" />
    <add key="Server.DBConnectionTimeout" value = "10" />
    <add key="Server.DBConnectionLifeTime" value = "60" />
    <add key="Server.DBCommandTimeout" value = "3600" />
    <add key="Server.DBConnectionCheckInterval" value = "0" />

    <add key="SmtpHost" value="smtp.example.org"/>
    <add key="SmtpPort" value="4025"/>
    <add key="SmtpUser" value="invalid"/>
    <add key="SmtpPassword" value="topsecret"/>
    <add key="SmtpEnableSsl" value="true"/>
    <add key="SmtpAuthenticationType" value="config" />
    <add key="IgnoreServerCertificateValidation" value="true" />

  </appSettings>
</configuration>
